<launch>
    <!-- 启动base.launch文件 -->
    <!-- Launch the base.launch file -->
    <include file="$(find laser_tracker)/launch/base.launch"/>
    <!-- 启动激光雷达跟随节点 -->
    <!-- Activate lidar follow node -->
    <node name='laser_tracker' pkg="laser_tracker" type="laser_tracker.py" required="true" output="screen"/>
</launch>
